<div fxLayout="column wrap" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
  <div fxLayout="row wrap" style="height:10vh;" fxLayoutAlign="end stretch" [fxShow]="true" [fxHide]="false">
    <bh-partial_header></bh-partial_header>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="center stretch" [fxShow]="true" [fxHide]="false" fxLayout.lt-lg="column">
    <div fxLayout="column wrap" style="width:30vw;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <bh-partial_profile_info></bh-partial_profile_info>
    </div>
    <div fxLayout="column wrap" style="width:30vw;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <bh-partial_personal_settings></bh-partial_personal_settings>
    </div>
    <div fxLayout="column wrap" style="width:30vw;" fxLayoutAlign="start stretch" [fxShow]="true" [fxHide]="false">
      <bh-partial_external_links></bh-partial_external_links>
    </div>
  </div>
</div>